<style>
    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #ffffff;
        opacity: 0.5;
    }

    .popup {
        position: fixed;
        width: 290px;
        height: 554px;
        left: 0;
        top: 0;
        background-color: #f8f8f8;
        z-index: 1001;
    }

    .imagePreviewSmall, .imagePreviewSmallImg {
        width: 100px;
        height: 100px;
    }
    .imagePreviewSmallImg {
        cursor: pointer;
    }
</style>
<div class="overlay" *ngIf="popup" [style.width]="overlayWidth" [style.height]="overlayHeight"></div>
<div class="popup" *ngIf="popup" [style.left]="styleLeft" [style.top]="styleTop">
    <div *ngIf="isShowImages()">
        <img [attr.src]="getCurrentImageUrl()">
        <div *ngIf="isShowLotImages()">
            <div class="imagePreviewSmall"><img
                    class="imagePreviewSmallImg" *ngIf="getImageUrl(0)"
                    (click)="onImageClick(0)" [attr.src]="getImageUrl(0)"></div>
            <div class="imagePreviewSmall"><img
                    class="imagePreviewSmallImg" *ngIf="getImageUrl(1)"
                    (click)="onImageClick(1)" [attr.src]="getImageUrl(1)"></div>
            <div class="imagePreviewSmall"><img
                    class="imagePreviewSmallImg" *ngIf="getImageUrl(2)"
                    (click)="onImageClick(2)" [attr.src]="getImageUrl(2)"></div>
        </div>
    </div>
    <div>{{ popup.article.name }}</div>
    <div>{{ popup.article._categoryName }}</div>
    <div [innerHTML]="popup.article.description"></div>
    <div>{{ config.currencyShortName }}: {{ popup.article.price_formatted }}</div>
    <div (click)="onCloseClick()">Close</div>
</div>
