<table width="100%">
    <tr>
        <td colspan="2">
            <div [innerHTML]="invoiceData"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div *ngIf="!is_invoice">
                <input type="checkbox" (change)="changeFlag()">
                <label>
                    <a href="#" (click)="onShowTermsPopUp($event)">I accept the Payment Terms and Conditions</a>
                </label>
            </div>
        </td>
        <td align="right">
            <button *ngIf="show_form" (click)='onShowFrom()'>Edit</button>
            <button *ngIf="show_edit_invoice_btn" (click)="onCancelInvoice()">Cancel Invoice</button>
            <button *ngIf="!is_invoice" (click)="onValidateInvoice()" [disabled]="!flagForValidate">Validate</button>
        </td>
    </tr>
</table>
