<table width="100%">
    <tr>
        <td colspan="2">
            <div [innerHTML]="invoiceInformation"></div>
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td>
            <button *ngIf="_config.show_download_invoice_btn" (click)="toInvoice()">Invoice</button>
            <button *ngIf="_config.show_download_receipt_btn" (click)="toReceipt()">Receipt</button>
            <button *ngIf="_config.show_pay_btn" (click)="toPay()">PAY</button>
        </td>
        <td align="right">
            <button *ngIf="_config.show_edit_invoice_btn" (click)="onCancelInvoice($event)">Cancel Invoice</button>
        </td>
    </tr>
</table>
