<table width="100%" *ngIf="show_form">
    <tr *ngIf="show_reg_services">
        <td>
            <p>Reg services:</p>
        </td>
        <td>
            <select name="reg_service_id" [(ngModel)]="info.reg_service">
                <option value="" disabled>Please select one</option>
                <option *ngFor="let key of reg_services" value="{{key.id}}">{{key.name}}</option>
            </select>
        </td>
    </tr>
    <tr *ngIf="show_payment_types">
        <td>
            <p>Payment types:</p>
        </td>
        <td>
            <select name="payment_type" [(ngModel)]="info.payment_type">
                <option value="" disabled>Please select one</option>
                <option *ngFor="let key of payment_types | keys" value="{{key.key}}">{{key.value}}</option>
            </select>
        </td>
    </tr>
    <tr *ngIf="show_online_systems">
        <td>
            <p>Online systems:</p>
        </td>
        <td>
            <select name="online_system" [(ngModel)]="info.online_system">
                <option value="" disabled>Please select one</option>
                <option *ngFor="let key of online_systems | keys" value="{{key.key}}">{{key.value}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button (click)="getInvoiceCall()">Ok</button>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            {{getData}}
        </td>
    </tr>
</table>
